@charset "UTF=8";
/* 初期設定 */
body {
  color: #060606;
  font-size: 16px;
  font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #060606;
}

/* 枠線の確認用に一時的に作成 */
body, header, footer, main, section, div, p, li, dt, dd, a {
    margin: 10px;
    padding: 10px;
}

header, footer, main, section {
    border: 2px solid #f00;
}

div, p {
    border: 1px solid #00f;
}

li, dt, dd, a {
    border: 1px dotted #0f0;
}

/* header */
.header {
    
}
.header__wrap {
  width: 85%;
  margin: 0 auto; /* 中央揃え */
  display: flex; /*中身を横並び */
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 54px;
  height: 76px;
}

.header__menu {
  display: flex; /* 横並び */
}

.header__mune li {
  width: 100px;
}

/* main */
.main {
    
}

.main section {
  width: 85%;
  margin: 0 auto 60px;
}

.main .main__kv {
  width: auto;
  height: 70vh;
}                     /*↑の設定を上書きする */

.main__about {
  
}

.main__service {
  
}

.main__news {
  
}

/* footer */
.footer {
  padding: 90px 0 70px; /* 上に90px、下に70pxの余白 */
}

.footer__logo {
  width: 100px;
  margin: 0 auto; /* 真ん中に */
}

.footer__copyright {
  margin-top: 30px;
  text-align: center; /* 文字を真ん中に */
}

  
