@charset "UTF=8";
/* 初期設定 */
body {
  color: #060606;
  font-size: 16px;
  font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #060606;
}

/* 枠線の確認用に一時的に作成 */
body, header, footer, main, section, div, p, li, dt, dd, a {
    margin: 10px;
    padding: 10px;
}

header, footer, main, section {
    border: 2px solid #f00;
}

div, p {
    border: 1px solid #00f;
}

li, dt, dd, a {
    border: 1px dotted #0f0;
}

/* header */
.header {
    
}
.header__wrap {
  width: 85%;
  margin: 0 auto; /* 中央揃え */
  display: flex; /*中身を横並び */
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 54px;
  height: 76px;
}

.header__menu {
  display: flex; /* 横並び */
}

.header__menu li {
  width: 100px;
}

/* main */
.main {
    
}

.main section {
  width: 85%;
  margin: 0 auto 60px;
}

.main .main__kv {
  width: auto;
  height: 70vh;
}                     /*↑の設定を上書きする */

.main__about {
  padding: 0 10px 80px;
}

.main__about__title {
  margin-bottom: 60px;
  text-align: center;
}

.main__about__logo {
  width: 40%;
  margin: 0 auto;
}

.main__about__text {
  margin: 45px 0 60px;
  text-align: center;
}
  
.main__service {
  padding-botoom: 100px;
}

.main__service__message {
  margin-bottom: 95px;
  display: flex;
}

.main__service__message h2 {
  flex: 1;
  flex-direction: column;
}

.main__service__message p {
  flex: 2;
}

.main__service__list {
  display: flex;
}

.main__service__list li {
  flex: 1;
}

.main__service__list li a {
  display: block;
}

.main__service__list li img {
  width: 100%;
}

.main__service__list li h3 {
  margin: 50px 0 30px 0 ;
}

.main__service__list li p {
  
}

.main__news {
  padding:0 20px 0;
}

.main__news__title {
  margin-bottom: 16px;
}

.main__news__list {
  padding: 40px 12px;
}

.main__news__list li {
}

.main__news__list li a {
  display: block;
  padding: 38px 20px;
}

.main__news__item {
  display: flex;
}

.main__news__day {
  width: 265px;
  display: flex;
  align-items: center;
  margin-right: 32px;
}

.main__news__data {
}


/* footer */
.footer {
  padding: 90px 0 70px; /* 上に90px、下に70pxの余白 */
}

.footer__logo {
  width: 100px;
  margin: 0 auto; /* 真ん中に */
}

.footer__copyright {
  margin-top: 30px;
  text-align: center; /* 文字を真ん中に */
}

  
